

*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

header{
	background-color: rgb(62, 135, 174);
	width: 100%;
	position: fixed; 
	z-index: 999; 
	display: flex;
	justify-content: space-between ;
	align-items: center;
	padding:10px 100px;
}

.logo{
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 1.8em;  

}

.logo:hover{
	color: purple;
}

.navigation a{
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 1.1em; 
	padding-left: 30px;

}

.navigation a:hover{
	color: purple;
}

section{
	
	padding: 100px 200px;


}



.firstImg {
	width: 800;
	height: 700px;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	align-items: center;
}

.firstSection {

	padding: 100px 200px;
	background-color: rgb(247, 209, 119);
	display: flex;
	justify-content: space-between ;

}

.firstSection img {

	width: 200;
	height: 300px;
	padding-left: 500;

}

.firstSection h2{
	color: rgb(25, 58, 75);
	font-size: 1.4em;
	font-weight: 500;
}

.firstSection h2 span{
	color: rgb(219, 83, 110);
	font-size: 3em;
	font-weight: 600;
}

.firstSection h3{
	color: rgb(25, 58, 75);
	font-size: 2em;
	font-weight: 700;
}

.firstSection a{
	color: white;
	background-color: rgb(219, 83, 110);
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 600;
	display: inline-block;
	padding: 15px 35px;
	letter-spacing: 1px;
	border-radius: 15px ;
	margin-bottom: 40px;
	transition: 0.7s ;

}


.firstSection a:hover{
	background-color: rgb(129, 8, 110);
	transform: scale(1.1);
}


.title{
	display: flex;
	justify-content: center;
	font-size: 2.2em;
	font-weight: 800;
	color: rgb(62, 135, 174);

}

.cards{
	display: flex;
	justify-content: center;
	width: 100%;
	
}

.cards a{
	display: flex;
	justify-content: center;
	width: 200px;
	height: 200px;
	width: 100%;
	margin-top: 50px;
	transition: 0.7s ;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 1.0);
	
}

 .cards a:hover{
	
	transform: scale(1.1);
}


.title2{
	display: flex;
	justify-content: center;
	font-size: 2.2em;
	font-weight: 800;
	color: rgb(62, 135, 174);

}

.quizzes a{
	display: flex;
	justify-content: center;
	width: 200px;
	height: 200px;
	width: 100%;
	margin-top: 50px;
	transition: 0.7s ;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 1.0);
	
}

 .quizzes a:hover{
	
	transform: scale(1.1);
}

.fourthSection {

	padding: 100px 200px;
	background: url(dinosaur-background.png) no-repeat;
	background-size: 1000px 400px;
	background-position: center;
	background-color: rgb(96, 209, 163);



}

.fourthSection h5,h6{

	display: flex;
	justify-content: center;
	
	font-size: 2.5em;
	font-weight: 20px;
	color: black;


}


.fourthSection h5{

	
	padding-top: 220px;
	
}
