* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url("cloud.jpeg") ;
    background-repeat: no-repeat;
      background-size: 100% auto;
  
  }
  
  
  .logo {
    width: 200;
    height: 200;
    
  }
  
  
  .control-buttons {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(3, 168, 244, 0.258);
    }
  
    .control-buttons span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #3672f4;
      color: rgb(233, 234, 237);
      padding: 15px 25px;
      font-size: 30px;
      text-align: center;
      border-radius: 20px;
      cursor: pointer;
    }
  
  .head {
    width: 460px;
    border: 2px solid #00437a;
    margin: auto;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(0, 104, 177);
    background-color:aliceblue;
  }
  
  .head.score {
    margin-left: 10px;
  }
  
  
  .head.tries  {
  margin-right: 10px;
  }
  
  .container {
    background-color: #e8e8e8;
    border: #00437a solid;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    margin: auto;
    padding: 10px;
    
  }
  
  .cell div {
    height: 130px;
    border-radius: 4px;
  }
  
  .cell {
    position: relative;
    cursor: pointer;
  }
  
  .front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a6a6a6;
    background-color: #f2f2f2;
    transform: rotateY(90deg);
  }
  
  .back {
    background-color: #333;
    text-align: center;
  }
  
  .back::before{
    content: "?";
    font-size: 140px;
    font-weight: bold;
    color: rgb(45, 92, 145);
  
  }
  
  img {
    height: 100px;
    width: 100px;
  }
  
  .flip {
    transform: rotateY(0deg);
  }
  .match {
    transform: rotateY(0deg);
  }
  
  .show {
    transform: rotateY(0deg);
  }
  
  @media screen and (min-width: 770px) {
    .head {
      max-width: 760px;
    }
  
    .container {
      grid-template-columns: repeat(3, auto);
    }
  
    .cell div {
      height: 170px;
    }

  
  }
  