body.home {
	background-image: url('cloud.jpeg') ;
    ackground-repeat: no-repeat;
    background-size: 100% auto;
}

body.nums {
	background-image: url('cloud.jpeg') ;
    ackground-repeat: no-repeat;
    background-size: 100% auto;
}

input.nums{
    height: 80;
    width: 80;
    padding-left: 25;
    position: relative;
    top: 485;
    left: 80;
}

input#main{
    height: 80;
    width: 80;
    position: absolute;
    top: 250;
    left: 80;
}

input.nums:hover{
    transform: scale(1.5);
}

img.example{
	border: #1F6F8B solid 10px;
    position: absolute;
    top: 60;
    left: 800;
    width: 350;
    height: 350;
}

audio{
    border: #1F6F8B solid 7px;
    position: absolute;
    top: 450;
    left: 830;
}

img.hand{
    border: #1F6F8B solid 10px;
    position: absolute;
    top: 50;
    left: 200;
    width: 200;
    height: 200;
}

.down {

    position: absolute;
    top: 300;
    left: 350;
    width: 200;
    height: 200;
}

img.gif{
    border: #1F6F8B solid 10px;
    position: absolute;
    top: 50;
    left: 500;
    display: inline
    padding: 50 80;
    width: 200;
    height: 200;
}

video{ 
	border: #1F6F8B solid 10px;
	position: absolute;
	top: 80px;
    left: 340px;
}