


*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

header{
	background-color: rgb(62, 135, 174);
	width: 100%;
	position: fixed; 
	z-index: 999; 
	display: flex;
	justify-content: space-between ;
	align-items: center;
	padding:10px 100px;
}

.logo{
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 1.8em;  

}

.logo:hover{
	color: purple;
}

.navigation a{
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 1.1em; 
	padding-left: 30px;

}

.navigation a:hover{
	color: purple;
}


section{
	
	padding: 100px 200px;


}



.firstSection {

	padding: 100px 200px;
	display: flex;
	justify-content: space-between ;


}

.rightImg  {

	width: 100px;
	height: 300px;
	margin-top: 200px;
	margin-right: 200px;
	display: flex;
	align-items: center;

}

.firstText{
	color: rgb(25, 58, 75);
	font-size: 1.8em;
	font-weight: 500;
	display: flex;
	align-items: center;
}


.endText{
	display: flex;
	justify-content: center;
	font-size: 3em;
	font-weight: 800;
	margin-top: 100px;
	color: rgb(62, 135, 174);

}

.cards{
	display: flex;
	justify-content: center;
	width: 100%;
	
}

.cards a{
	display: flex;
	justify-content: center;
	width: 200px;
	height: 200px;
	width: 100%;
	margin-top: 50px;
	transition: 0.7s ;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 1.0);
	
}

 .cards a:hover{
	
	transform: scale(1.1);
}
