*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

section{
	
	padding: 100px 300px;


}
header{
	background-color: rgb(62, 135, 174);
	width: 100%;
	position: fixed; 
	z-index: 999; 
	display: flex;
	justify-content: space-between ;
	align-items: center;
	padding:10px 100px;
}

.logo{
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 1.8em;  

}

.logo:hover{
	color: purple;
}

.navigation a{
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 1.1em; 
	padding-left: 30px;

}

.navigation a:hover{
	color: purple;
}

.firstSection {

	padding: 100px 200px;
	
}



}

.firstText h2{
	color: rgb(25, 58, 75);
	font-size: 3em;
	font-weight: 500;
	margin-right: 50px;
	 
}


.endText h3{
	color: rgb(25, 58, 75);
	font-size: 2em;
	font-weight: 500;
	margin-left: 50px;
	text-indent: 2em;

}

footer{

	display: flex;
	justify-content: space-between ;
	padding: 100px 200px;
	background-color: black;
	color:white ;
}

h4,h5{
	margin-bottom: 20px;
	font-size: 1.3em;
}

.image{

	display: flex;
	justify-content: space-between ;
	align-items: center;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 1.0);
}