body{
	background-image: url('cloud.jpeg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

h2[id="greetingLetters"]{
	/* font-family: Arial Rounded MT Bold; */
	font-weight: 600;
	font-size: 50px;
	color: rgb(219, 83, 110); /*pink*/
	float: center;
	text-align: center;
	margin-top: 4%;
}

img[id="1_letter"], [id="2_letter"], [id="3_letter"], [id="1_letter_y"], [id="2_letter_z"]{
	width: 220px;
	height: 270px;
}
div[id="mainLetters"]{
	margin-top: -2%;
}

p{
	cursor: default;	
	color: rgb(62, 135, 174); /*lighter blue*/
	font-size: 50px;
	font-weight: 600;
	margin-top: -0.1%;
}

div[id="mainImg"]{
  margin-top: -5%;
}


img[id="1_img"], [id="2_img"], [id="3_img"], [id="1_img_y"], [id="2_img_z"]{
	width: 150px;
	height: 150px;

	border: 3px;
	border-width: 5px ;
	border-style: dashed;
	border-color: rgb(25, 58, 78); /*darker blue*/
	background-color: ;
	margin-top: -9%;
}

audio{
	background-color: red;
	border: 2px;
	border-width: 3px ;
	border-style: outset;
	border-color: rgb(25, 58, 78); /*darker blue*/
	background-color: rgb(62, 136, 174);
	cursor: pointer;
	width: 250px;
}
div[id="mainAudio"]{
	margin-top: -1%;
}
div[id="firstAudio"]{
	margin-right: -0.01%;

}
div[id="seconddAudio"]{
	
}
div[id="thirdAudio"]{
	margin-left: -0.01%;
}

video{
	
	max-width: 100%;
	height: auto;
	width: 700px;
	/*margin-left: 23%;*/
	border: 2px solid black;
  box-sizing: border-box;	
}

button{
	cursor: pointer;	
	width: 80px;
	height: 40px;
	/*font-family: Arial Rounded MT Bold;*/
	background-color: rgb(247, 209, 119); /*yellow*/
	border-color: rgb(219, 83, 110); /*pink*/
	border-radius: 10px;
}
button[id="mainStart"], [id="mainBack"]{
	cursor: pointer;	
	width: 130px;
	height: 70px;
	font-family: Arial Rounded MT Bold;
	font-size: 20px;
	background-color: rgb(247, 209, 119); /*yellow*/
	border-color: rgb(219, 83, 110); /*pink*/
	border-width: 3px;
	border-radius: 10px;	
}
button[id="mainBack"] {
  margin-right: 20px;
}

div[id="buttons"]{
	justify-content: center;
}


div{
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: auto;
	margin-top: 2%;
}
.flex-parent {
  display: flex;
}
.jc-center {
  justify-content: center;
}


footer{
	margin-top: 1%;
	
	
}
