body{background-color: rgb(195, 231, 255);
 background-image: url("cloud.jpeg");
	background-repeat: repeat-x;
	background-size: 100% auto;
border:8px double rgb(62, 136, 174);
}

h2{font-family: "Lato";
font-size: 36px;
font-weight: 700px;
text-align: center;
margin-bottom: 60px;
margin-top: 1px;
padding-top: 3px;}

div{
	align-content: center;
		border: 10px inset rgba(62, 136, 174,50);
		padding-left: 30px;
		padding-right: 20px;
    margin: 25px; }

.Q1,
 .Q2{align-content: center;
 	margin-left: 90px;
 	display: inline-block;
	  }

	  .Q3,
 .Q4{align-content: center;
 	margin-left: 90px;
 	display: inline-block;
	 }

	  .Q5,
 .Q6{align-content: center;
 	margin-left: 90px;
 	display: inline-block;
	 }

.Q7,
 .Q8{align-content: center;
 	margin-left: 90px;
 	display: inline-block;
	}



pre{text-align: center;
background-color: rgb(62, 136, 174);
font: 40px "Gill Sans";
letter-spacing: 7px;}

